@model InsuranceVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">@(Model.Insurance.Id!=0?"Update":"Create") Insurance</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Insurance.Id" hidden/>
            <input asp-for="Insurance.ImageUrl" hidden/>
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @* <div asp-validation-summary="ModelOnly"></div> *@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.Title" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.Title" class="ms-2"></label>
                            <span asp-validation-for="Insurance.Title" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <textarea asp-for="Insurance.Description" class="form-control border-0 shadow"></textarea>
                            <label asp-for="Insurance.Description" class="ms-2"></label>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.ISBN" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.ISBN" class="ms-2"></label>
                            <span asp-validation-for="Insurance.ISBN" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.ResponsibleUnit" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.ResponsibleUnit" class="ms-2"></label>
                            <span asp-validation-for="Insurance.ResponsibleUnit" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.ListPrice" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.ListPrice" class="ms-2"></label>
                            <span asp-validation-for="Insurance.ListPrice" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.Price" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.Price" class="ms-2"></label>
                            <span asp-validation-for="Insurance.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.Price50" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.Price50" class="ms-2"></label>
                            <span asp-validation-for="Insurance.Price50" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Insurance.Price100" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.Price100" class="ms-2"></label>
                            <span asp-validation-for="Insurance.Price100" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Insurance.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected="">--Selectd Category--</option>
                            </select>
                            <label asp-for="Insurance.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Insurance.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input type="file"name="file" class="form-control border-0 shadow"/>
                            <label asp-for="Insurance.ImageUrl" class="ms-2"></label>
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-3">
                                @if (Model.Insurance.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Insurance" asp-action="Index" class="btn btn-secondary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Insurance.ImageUrl" width="100%" 
                         style="border-radius: 5px; border: 1px solid #bbb9b9"/>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
