/* _content/InsuranceUtility/Component1.razor.rz.scp.css */
.my-component[b-wvn9k400wf] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
